In [2]:
#libraries
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
# Set the display options for pandas

file_path = r'D:\Asaph Ray\Projects\marvel-superheroes-eda\data\charcters_stats.csv'

In [15]:
# Read the CSV file into a DataFrame
marvel = pd.read_csv(file_path)

In [16]:
marvel.head()

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

In [17]:
marvel.shape

(611, 9)

In [18]:
marvel[marvel['Alignment'] == 'good']

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
6,Adam Monroe,good,63,10,12,100,71,64,320
...,...,...,...,...,...,...,...,...,...
604,X-Man,good,88,53,53,95,92,84,465
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292

In [19]:
marvel[marvel['Alignment'] == 'bad']

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
4,Abomination,bad,63,80,53,90,55,95,436
5,Abraxas,bad,88,100,83,99,100,56,526
11,Air-Walker,bad,50,85,100,85,100,40,460
16,Amazo,bad,75,100,100,100,100,100,575
17,Ammo,bad,1,1,1,1,0,1,5
...,...,...,...,...,...,...,...,...,...
586,Warp,bad,38,10,23,28,63,50,212
590,Weapon XI,bad,1,1,1,1,0,1,5
593,Willis Stryker,bad,38,16,23,28,41,60,206
605,Yellow Claw,bad,1,1,1,1,0,1,5
610,Zoom,bad,50,10,100,28,72,28,288

In [20]:
marvel[marvel['Intelligence']> 50]

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
2,Abe Sapien,good,88,14,35,42,35,85,299
4,Abomination,bad,63,80,53,90,55,95,436
5,Abraxas,bad,88,100,83,99,100,56,526
6,Adam Monroe,good,63,10,12,100,71,64,320
10,Agent Zero,good,75,28,38,80,72,95,388
...,...,...,...,...,...,...,...,...,...
600,Wonder Woman,good,88,100,50,100,42,100,480
603,X-23,good,75,24,35,90,27,85,336
604,X-Man,good,88,53,53,95,92,84,465
606,Yellowjacket,good,88,10,12,28,12,14,164
609,Zatanna,good,75,10,23,28,100,56,292